Flask==3.0.3
pandas==2.2.2
pymssql==2.3.0
py-healthcheck==1.10.1
pysftp==0.2.9
prometheus-client==0.20.0
python-dotenv==1.0.1
requests==2.31.0
requests-pkcs12==1.24
SQLAlchemy==2.0.32

streamlit==1.38.0
streamlit-keycloak==1.1.1
streamlit_option_menu==0.3.13
streamlit-antd-components==0.3.2
streamlit_shadcn_ui==0.1.18

pymysql==1.1.1
xlsxwriter==3.2.0
plotly==5.23.0
psycopg2-binary==2.9.9
matplotlib==3.9.2
